.App {
  text-align: center;
}

.App-header {
  background-color: #3A3838;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.chatHeader {
  background-color: #547A99;
  width: 100%;
  margin: 0;
  color: white;
  font-size: 35px;
  border-radius: 10px 10px 0 0;
  border-bottom: white 1px solid
}

.MainFrame {
  display: flex;
  position: fixed;
  width: 70%;
  height: 88%;
  align-items: center;
  /* border-width: 0px 3px 0px 3px;
  border-color: white;
  border-style: solid; */
  border: 3px solid white;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10px;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}